h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px;
	margin: 0;
	padding: 0 10px;
}

nav link_to {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px, sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding:10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.nav.flex-column.nav-pills.vertical {
	position: absolute;
    top: 10px;
    right: 10px;
    font-size: small;
}
